@font-face {
  font-family: 'Jiyucho';
  //src: url('../fonts/Jiyucho.otf') format("opentype");
  //src: url('../fonts/GL-AntiquePlus.otf') format("opentype");
  //src: url('../fonts/GL-AntiquePlus.ttf') format("truetype");
  src: url('../fonts/rounded-mplus-1c-black.ttf') format("truetype");
}

.additional-font {
  font-family: 'Jiyucho';
}
