#js-question-area {
  position: relative;
  padding: 20px;
  background-color: #5fc2f5;
  border-radius: 15px;
  margin-left: 70px;
}

.comment-area {
  padding: 20px;
  background-color: #CAE5CD;
  border-radius: 15px;
}

#js-question-area::before {
content: '';
position: absolute;
display: block;
border-radius: 50%;
background-color: #5fc2f5;
left: -35px;
bottom: 15px;
width: 30px;
height: 30px;
}

#js-question-area::after {
content: '';
position: absolute;
display: block;
border-radius: 50%;
background-color: #5fc2f5;
left: -55px;
bottom: 10px;
width: 15px;
height: 15px;
}

#js-input-area {
  &:empty{
    &:before{
      content: '___';
      -webkit-animation: blink 1s ease infinite;
	    animation: blink 1s ease infinite;
    }
  }
}

.input-terminal {
  height: 10vh;
  border-radius: 10px;
}

@-webkit-keyframes blink {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes blink {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.bg-image-animation {
  background-size: 100% 65vh;
  height: 65vh;
  animation: cloud-animation 1000s linear infinite;
  background-repeat: repeat-x;
}

@keyframes cloud-animation {
  from {
    //transform: translateX(0%);
    background-position: 0 0;
  }
  to {
    //transform: translateX(0%);
    background-position: 50000px 0;
  }
}

.result-box {
  margin: 2em 0;
  background: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 90%;
}

.result-box .result-box-title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.2em;
    background: #3298dc;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.result-box p {
    padding: 15px 20px;
    margin: 0;
}

.vimmer-start-bg {
  height: 640px;
  width: 960px;
  background-image: url('../images/stage/stage04.png');
  background-size: cover;
  border: 2px solid #dfdfdf;
  border-radius: 10px;
}

.vimmer-result-bg {
  height: 640px;
  width: 960px;
  background-image: url('../images/stage/stage05.jpg');
  background-size: cover;
  border: 2px solid #dfdfdf;
  border-radius: 10px;
}

.vimmer-canvas {
  border: 2px solid #dfdfdf;
  border-radius: 10px;
}

.lesson-up-border {
  border: 2px solid #dfdfdf;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
}

.lesson-down-border {
  border: 2px solid #dfdfdf;
  border-top: 0;
  border-radius: 0 0 10px 10px;
}

.lesson-image {
   width: 18%;
   height: 18%;
}
